<h1>Show user</h1>
<h3>Username:  @ViewBag.ShowUser.Username</h3>
<h3>Wins:  @ViewBag.ShowUser.Wins</h3>
<h3>Losses: @ViewBag.ShowUser.Losses</h3>

<h3>Posts: @ViewBag.ShowUser.Posts.Count</h3>
<h3>Comments: @ViewBag.ShowUser.Comments.Count</h3>